@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@theme {
    --font-display: "Rubik Mono One", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace, "Noto Color Emoji";
    --font-sans: "Rubik", ui-sans-serif, system-ui, sans-serif, "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
